.analysis-wrap {
  .app-board {
    min-height: 576px;
    box-sizing: border-box;
  }
  .top-board {
    display: flex;
    .item {
      box-sizing: border-box;
      &.left {
        padding-right: 10px;
      }
      &.right {
        padding-left: 10px;
      }
    }
  }
  .analysis-title {
    margin: 0 0 28px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
  }
  .el-radio-group {
    display: flex;
    width: 100%;
    .el-radio-button {
      flex: 1;
      .el-radio-button__inner {
        width: 100%;
      }
    }
  }
  .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: #fff;
    color: #409EFF;
  }
}